
#first
{
    margin-top:150px;
    margin-left:35%;
    color:black;
    font-family:algerian;
    font-size:40px;
    margin-bottom:50px;
}
#a
{
    margin-left:43%;
}
#a,#b,#c,#d,#e 
{
    font-size:50px;
    color:black;
}
#result
{
    margin-top:50px;
    margin-left:46%;
    font-size:20px;
    background-color:skyblue;
    padding:7px;
    color:white;
    border:1px solid darkblue;
}
#again
{
    margin-top:40px;
    font-size:20px;
    margin-left:47%;
    /* background-color:skyblue; */
    padding:4px;
    border-radius:10%;
}